<section>
    <div class="content">
        <div id="container" class="container">
            <div class="text-center margin-bottom">
                <img src="../../../assets/img/monster-01.png">
            </div>

            <div class="row">
                <div class="col-md-8 col-sm-6 col-md-offset-2 col-sm-offset-3">
                    <div class="card">
                        <div class="header text-center">
                            Oups ! This page doesn't exist..
                        </div>
                        <div class="content">
                            <ul>
                                <li><a routerLink="/admin/contacts">Back to contacts list</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

