<div class="sidebar-wrapper">
    <div class="logo">
        <a routerLinkActive="active" [routerLink]="['/admin/contacts']" class="simple-text">
            <div class="logo-img">
                <img src="./assets/img/Mandareen-logo.png" width="20%">
            </div>
            My contacts
        </a>
    </div>
    <ul class="nav">
        <li class="divider" *ngIf="isNotMobileMenu()"></li>
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
